<h1>Cute or Not</h1>

<table>

  <tbody>
	<% @display_dogs.each do |dog|%>
      <tr>
	<%= link_to image_tag(root_url + "images/" + dog.filename, size: "100x100", alt: dog.other_filename), dog%>&nbsp&nbsp
		
      </tr>
	<%end%>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
