<h1>Listing images</h1>

<table>

  <tbody>
    <% @images.each do |image| %>
      <tr>
	<%= link_to image_tag(root_url + "images/" + image.filename, size: "100x100", alt: image.filename), image%>&nbsp&nbsp
		
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
